<div class="container-fluid">
    <h3 class="visible-xs">{{partyCtrl.party.name}} <A HREF="#" id="viewCompo" onclick="viewCompo()" Title="Switch to game view">&#128065;</A></h3>

    <div class="row">
        <div class="col-lg-5">
            <div>
                <div>
                    <!-- label for="docType">armees:</label -->
                    <select class="form-control" ng-change="partyCtrl.setList()" ng-options="army.name for army in partyCtrl.armyList" placeholder="Select army" ng-model="partyCtrl.selectedArmy" required>
			</select>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a data-target="#unitsPan" aria-controls="home" role="tab" data-toggle="tab">Unites</a></li>
                    <li role="presentation"><a data-target="#SpellPan" aria-controls="profile" role="tab" data-toggle="tab">Sorts</a></li>
                </ul>

                <!-- Tab panes -->
                <label>
	<ul class="nav nav-pills visible-xs" role="tablist">
		<li role="presentation"><a>&#x1f4b0; <span class="label label-primary">{{partyCtrl.totalCost}} pts</span></a></li>
		<li role="presentation"><a>&#127993; <span ng-class="{'label label-success': partyCtrl.oktir,'label label-danger': !partyCtrl.oktir}">{{partyCtrl.totaltir}} ({{partyCtrl.tirratio}}%)</span></a></li>
		<li role="presentation"><a>&#x1f451; <span ng-class="{'label label-success': partyCtrl.okindep,'label label-danger': !partyCtrl.okindep}">{{partyCtrl.totalindep}} ({{partyCtrl.countinde}}/{{partyCtrl.countunit}})</span></a></li>
	</ul>
  </label>

                <!-- input type="checkbox" ng-model="partyCtrl.independant" ng-change="partyCtrl.updateFilter()" label="ter"/>
						Independant
					</label>
					<label>
						<input type="checkbox" ng-model="partyCtrl.Unite" ng-change="partyCtrl.updateFilter()" label="ter"/>
						Unite
					</label>
					<label>
						<input type="checkbox" ng-model="partyCtrl.Tir" ng-change="partyCtrl.updateFilter()" label="ter"/>
						Tir -->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="unitsPan">
                        <input id="input-search" ng-focus="" class="form-control" type="input" value="" ng-change="partyCtrl.updateSearch()" ng-model="partyCtrl.search" placeholder="Search..."></input>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default" ng-click="partyCtrl.updateFilter('')">All</button>
                            <button type="button" class="btn btn-default" ng-click="partyCtrl.updateFilter('Independant')">Indep</button>
                            <button type="button" class="btn btn-default" ng-click="partyCtrl.updateFilter('Unite')">Unit</button>
                        </div>
                        <div class="listUnit" ng-repeat="unit in partyCtrl.unitList | filter:partyCtrl.filter">
                            <div class="panel-group fixed" id="accordion" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <!--<span ng-class="{'glyphicon glyphicon-screenshot' : unit.tir}" Title="Unité d'archerie"></span>-->
                                            {{unit.tir=="1"?"&#127993;":""}}
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne-{{$index}}" aria-expanded="true" aria-controls="collapseOne">
					          					<span class="unitName">{{unit.name}}</span>
					          					<span class="badge points">{{unit.cost}} pts</span>
					          					<span class="badge">{{unit.min}}-{{unit.max}}</span>
					          				</a>
                                            <span class="glyphicon glyphicon-plus pull-right iconelist" ng-touch="partyCtrl.addtroupe(unit,1)" ng-click="partyCtrl.addtroupe(unit,1)"></span>
                                            <!--<span class="CountLabel visible-xs pull-right" ng-model="unit.count">{{unit.count}}</span>-->
                                            <!--span class="glyphicon glyphicon-minus pull-right iconelist" ng-touch="partyCtrl.addtroupe(unit,-1)" ng-click="partyCtrl.addtroupe(unit,-1)"></span-->

                                        </h4>
                                    </div>
                                    <div id="collapseOne-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                	<table width=100%>
                                                	<TR>
                                                	<TD>
                                                		<span class="badge carac">ACT</span> {{unit.action}}<span ng-if="partyCtrl.hasMount(unit)">/{{unit.monture[0].action}}</span>
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">MVT</span> {{unit.mouvement}}
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">HP</span> {{unit.wound}}
                                                	</TD>
                                                	</TR><TR>
                                                	<TD>
                                                		<span class="badge carac">ARM</span> {{unit.armure}}
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">DEF/B</span> {{unit.defence}} | {{unit.bouclier>0?unit.bouclier:0}}
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">CD</span> {{unit.commandment}}<span ng-if="partyCtrl.hasMount(unit)">/{{unit.monture[0].CD}}</span>
                                                	</TD>
                                                	</TR><TR>
                                                	<TD>
                                                		<span class="badge carac">PW</span> {{unit.magie>0?unit.magie:"-"}}
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">F</span> {{unit.force}}<span ng-if="partyCtrl.hasMount(unit)">/{{unit.monture[0].force}}</span>
                                                	</TD>
                                                	<TD>
                                                		<span class="badge carac">T</span> {{unit.taille}}
                                                	</TD>
                                                	<TR>
                                                	<TD COLSPAN=3>
                                                		<span class="badge carac">Type</span> {{unit.type}} <span ng-if="partyCtrl.hasMount(unit)">/ {{unit.monture[0].description}}</span> - {{unit.type2}} {{unit.tir=="1"?"- Archerie":""}}
                                                	</TD>
                                                	</TR>
                                                	<TR>
                                                	<TD COLSPAN=3>
                                                		<span class="badge carac">Clan</span> {{unit.clan.name}}
                                                	</TD>
                                                	</TR>
                                                	</TABLE>
                                                </div>

                                                <div class="col-lg-5">
                                                    <span ng-if="partyCtrl.hasCompetences(unit)"class="badge carac">Competences</span>
                                                    <div ng-repeat="competence in unit.competences">
                                                        <b>{{competence.name}}:</b> {{competence.description}}
                                                    </div>
                                                    <span class="badge carac">Attaques</span>
                                                    <p ng-repeat="atk in unit.attaques">
                                                        <b>{{atk.type}}:</b> &#127922;{{atk.att}}
                                                        <!-- unknown in chrome android, ok chrome pc &#129656;-->
                                                        <span class="glyphicon glyphicon-tint blood"></span>{{atk.dmg}}
                                                        <span ng-if="partyCtrl.hasAttackEffect(atk)">&#127183;{{atk.Effets}}</span>
                                                        <span ng-if="partyCtrl.hasRangeAttack(atk)">&#127919;{{atk.portee}} &#8987;<!--&#9851;-->{{atk.cadence}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div role="tabpanel" class="tab-pane fade " id="SpellPan">





                        <div class="panel-group fixed" id="accordionSpell" role="tablist" ng-repeat="spell in partyCtrl.spellList">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapsespell" data-parent="#accordionSpell" data-target="#collapseOne1-{{$index}}" aria-expanded="true" aria-controls="accordionSpell">
											<span class="badge spellCollege">{{spell.name.substring(1,spell.name.indexOf(']'))}}</span>
											<span class="spellName">{{spell.name.substring(spell.name.indexOf(']')+1)}}</span>
								        </a>
                                        <span class="glyphicon glyphicon-plus pull-right iconelist" ng-click="partyCtrl.addSpell(spell,1)" ng-touch="partyCtrl.addSpell(spell,1)"></span>
                                        <span class="CountLabel visible-xs pull-right" ng-model="spell.count">{{spell.count}}</span>
                                        <span class="glyphicon glyphicon-minus pull-right iconelist" ng-click="partyCtrl.addSpell(spell,-1)" ng-touch="partyCtrl.addSpell(spell,-1)"></span>
                                    </h4>
                                </div>
                                <div id="collapseOne1-{{$index}}" class="panel-collapse collapsespell" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                    	<table width=100%>
                                    	<TR>
                                    		<TD COLSPAN=3><I>{{spell.description}}</I></TD>
                                    	</TR>
                                       	<TR>
											<TD><span class="badge carac">Niveau</span> {{spell.level}}</TD>
											<TD><span class="badge carac">Action(s)</span>  {{spell.action}}</TD>
											<TD><span class="badge carac">R&eacute;sist</span> {{spell.resistance}}</TD>
                                    	</TR>
                                       	<TR>
											<TD><span class="badge carac">Co&ucirc;t</span> {{spell.cost}} pts</TD>
											<TD colspan=2><span class="badge carac">Portee</span> {{spell.portee}}</TD>
                                    	</TR>
                                    	</TABLE>

                                    </div>
                                </div>
                            </div>




                        </div>



                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-5 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline">
                        <input type="text" class="form-control titlepartname" ng-model="partyCtrl.party.name" />

                        <button type="submit" class="btn btn-primary mb-2" ng-click="partyCtrl.updatepartyname()">update</button>
                        <A HREF="#" id="viewCompo" onclick="viewCompo()" Title="Switch to game view">&#128065;</A>
                    </form>
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a>&#x1f4b0; <span class="label label-primary">{{partyCtrl.totalCost}} pts</span></a></li>
                        <li role="presentation"><a>&#127993; <span ng-class="{'label label-success': partyCtrl.oktir,'label label-danger': !partyCtrl.oktir}">{{partyCtrl.totaltir}} ({{partyCtrl.tirratio}}%)</span></a></li>
                        <li role="presentation"><a>&#x1f451; <span ng-class="{'label label-success': partyCtrl.okindep,'label label-danger': !partyCtrl.okindep}">{{partyCtrl.totalindep}} ({{partyCtrl.countinde}}/{{partyCtrl.countunit}})</span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success" role="alert" ng-repeat="unittroups in partyCtrl.party.unitList">
                        <button type="button" class="close" aria-label="Close" ng-click="partyCtrl.removetroupe(unittroups)"><span aria-hidden="true">&times;</span></button>
                        <span class="badge points">{{unittroups.unit.cost*unittroups.count}} pts</span>
                        <input type="number" class="col-lg-2 formAppinputNB" ng-change="partyCtrl.updateTroup(unittroups)" ng-model="unittroups.count" />
                        <span class="unitName">{{unittroups.unit.name}}</span>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Sort</div>
                <div class="panel-body">
                    <div class="alert alert-info" role="alert" ng-repeat="spelltroups in partyCtrl.party.spellList">
                        <button type="button" class="close" aria-label="Close" ng-click="partyCtrl.addSpell(spelltroups.spell,-1)"><span aria-hidden="true">&times;</span></button>
                        <span class="badge">{{spelltroups.count}}</span>
						<span class="badge spellCollege">{{spelltroups.spell.name.substring(1,spelltroups.spell.name.indexOf(']'))}}</span>
                        <span class="badge points">{{spelltroups.spell.cost}} pts</span>
						<span class="spellName">{{spelltroups.spell.name.substring(spelltroups.spell.name.indexOf(']')+1)}}</span>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>