<div class="container-fluid">

	<SPAN ID=armyPartyHeader><H4>{{partyDetailCtrl.name}} - {{partyDetailCtrl.totalCost}} pts</H4></SPAN>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-target="#unitsPan" aria-controls="home" role="tab" data-toggle="tab">Unites</a></li>
        <li role="presentation"><a data-target="#spellPan" aria-controls="profile" role="tab" data-toggle="tab">Sorts</a></li>
        <li role="presentation"><a data-target="#rulesPan" aria-controls="profile" role="tab" data-toggle="tab">R&egrave;gles</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="unitsPan">
            <div class="row">
                <div class="list-group col col-md-4">

                    <ul class="list-group">
                        <li class="list-group-item" ng-class="{'active':partyDetailCtrl.isSelect(unitTroup)}" ng-repeat="unitTroup in partyDetailCtrl.troups.unitList" ng-click="partyDetailCtrl.setSelectedTroup(unitTroup)">
                             <!--<span ng-click="partyDetailCtrl.removeTroup(unitTroup.unit.id)" class="badge">X</span>-->
                             <button type="button" class="close" aria-label="Close" ng-click="partyDetailCtrl.removeTroup(unitTroup.unit.id)">&nbsp;<span aria-hidden="true">&times;</span></button>
                             <span class="unitName">{{unitTroup.unit.name}}</span>
                             <span class="badge">{{unitTroup.count}}</span>
                             <span class="badge points">{{unitTroup.unit.cost*unitTroup.count}}</span>
                        </li>
                    </ul>

                    <!--select id="select " class="form-control hidden-xs">
				  <option value="$index" ng-repeat="unitTroup in partyDetailCtrl.troups.unitList" ng-click="partyDetailCtrl.setSelectedTroup(unitTroup)">{{unitTroup.unit.name}}</option>
				</select-->

                </div>
                <div ng-show="partyDetailCtrl.showCard" class="panel panel-default col-md-8" overlay>
                    <!--<div class="panel-heading">{{partyDetailCtrl.selectedTroup.unit.name}}</div>-->
                    <div class="panel-body " id="unitCard" ng-click="partyDetailCtrl.hideCard()">

						<DIV ID="unitCardClose" CLASS="unitCardIcons" ng-click="partyDetailCtrl.hideCard()">X</DIV>
						<DIV ID="unitCardName" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.name}} ({{partyDetailCtrl.selectedTroup.count}})</DIV>
						<DIV ID="unitCardPic" CLASS="unitCardIcons" STYLE="background-image:url({{partyDetailCtrl.selectedTroup.unit.model_pic}});"></DIV>
						<DIV ID="unitCardArmy" CLASS="unitCardIcons" STYLE="background-image:url({{partyDetailCtrl.selectedTroup.unit.clan.model_pic}});">{{partyDetailCtrl.selectedTroup.unit.type2}}</DIV>
						<DIV ID="unitCardWounds" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.wound}}</DIV>
						<DIV ID="unitCardLeadership" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.commandment}}</DIV>
						<DIV ID="unitCardActions" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.action}}</DIV>
						<DIV ID="unitCardMovement" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.mouvement}}<span ng-if="partyDetailCtrl.hasFlight(partyDetailCtrl.selectedTroup.unit)"><br>{{partyDetailCtrl.selectedTroup.unit.vol}}&#128330;</span></DIV>
						<DIV ID="unitCardMinMax" CLASS="unitCardIcons">[{{partyDetailCtrl.selectedTroup.unit.min}}-{{partyDetailCtrl.selectedTroup.unit.max}}]</DIV>
						<DIV ID="unitCardArmor" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.armure}}</DIV>
						<DIV ID="unitCardDefense" CLASS="unitCardIcons"><span ng-class="partyDetailCtrl.hasPositiveDefense(partyDetailCtrl.selectedTroup.unit) ? 'red':''">{{partyDetailCtrl.selectedTroup.unit.defence}}</span><span ng-if="partyDetailCtrl.hasShield(partyDetailCtrl.selectedTroup.unit)"><br>{{partyDetailCtrl.selectedTroup.unit.bouclier}}</span></DIV>
						<DIV ID="unitCardPower" CLASS="unitCardIcons"><!--ng-show=partyDetailCtrl.IsMago(partyDetailCtrl.selectedTroup.unit)-->{{partyDetailCtrl.selectedTroup.unit.magie}}</DIV>
						<DIV ID="unitCardCost" CLASS="unitCardIcons">{{partyDetailCtrl.selectedTroup.unit.cost}}</DIV>
						<DIV ID="unitCardStrength" CLASS="unitCardIcons">F{{partyDetailCtrl.selectedTroup.unit.force}}</DIV>
						<DIV ID="unitCardSize" CLASS="unitCardIcons">T{{partyDetailCtrl.selectedTroup.unit.taille}}</DIV>
						<DIV ID="unitCardArchery" CLASS="unitCardIcons" STYLE="background-Image:url(/static/img/tir{{partyDetailCtrl.selectedTroup.unit.tir}}.png);"></DIV>
						<DIV ID="unitCardSword" CLASS="unitCardIcons" ></DIV>
						<DIV ID="unitCardAttacks">
							<li class="list-group-item" ng-repeat="attaques in partyDetailCtrl.selectedTroup.unit.attaques">
                            <strong>{{attaques.type}}</strong> &#127922;{{attaques.att}} <span class="glyphicon glyphicon-tint blood"></span>{{attaques.dmg}}
                            <span ng-if="partyDetailCtrl.hasAttackEffect(attaques)">&#127183;{{attaques.Effets}}</span>
                            <span ng-if="partyDetailCtrl.hasRangeAttack(attaques)">&#127919;{{attaques.portee}} &#9851;{{attaques.cadence}}</span>
                        	</li>
                        </DIV>

                    </div>

                    <div>

                        <div ng-repeat="competence in partyDetailCtrl.selectedTroup.unit.competences">

                            <button type="button" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#myModal-{{$index}}">
									  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									  {{competence.name}}
									</button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{competence.name}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{competence.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


        <div role="tabpanel" class="tab-pane fade in" id="spellPan">
            <div class="row">
                <div class="list-group col col-md-4">

                    <ul class="list-group">
                        <li class="list-group-item" ng-class="{'active':partyDetailCtrl.isSelect(spellTroup)}" ng-repeat="spellTroup in partyDetailCtrl.troups.spellList" ng-click="partyDetailCtrl.setSelectedTroup(spellTroup)">
                        	<span class="badge spellCollege">{{spellTroup.spell.name.substring(1,spellTroup.spell.name.indexOf(']'))}}</span>
                        	<span class="spellName">{{spellTroup.spell.name.substring(spellTroup.spell.name.indexOf(']')+1)}}</span>
                       	</li>
                        <!--str.find(str, beg=0, end=len(string))-->
                    </ul>

                    <!--select id="select " class="form-control visible-xs">
				  <option value="$index" ng-repeat="spellTroup in partyDetailCtrl.troups.spellList" ng-click="partyDetailCtrl.setSelectedTroup(spellTroup)">{{spellTroup.spell.name}}</option>
				</select-->
                </div>
                <div class="panel panel-default col-md-8">
                    <div class="panel-heading">{{partyDetailCtrl.selectedTroup.spell.name}}</div>
                    <div class="panel-body ">
                        <img class="col-md-3 col-xs-6" src="{{partyDetailCtrl.selectedTroup.spell.model_pic}}"></img>
                        <div class="col-md-9">
                                    	<table width=100%>
                                    	<TR>
                                    		<TD COLSPAN=3><I>{{partyDetailCtrl.selectedTroup.spell.description}}</I></TD>
                                    	</TR>
                                       	<TR>
											<TD><span class="badge carac">Niveau</span> {{partyDetailCtrl.selectedTroup.spell.level}}</TD>
											<TD><span class="badge carac">Action(s)</span>  {{partyDetailCtrl.selectedTroup.spell.action}}</TD>
											<TD><span class="badge carac">R&eacute;sist</span> {{partyDetailCtrl.selectedTroup.spell.resistance}}</TD>
                                    	</TR>
                                       	<TR>
											<TD><span class="badge carac">Co&ucirc;t</span> {{partyDetailCtrl.selectedTroup.spell.cost}} pts</TD>
											<TD colspan=2><span class="badge carac">Portee</span> {{partyDetailCtrl.selectedTroup.spell.portee}}</TD>
                                    	</TR>
                                    	</TABLE>
                        </div>
                    </div>
                </div>
            </div>

        </div>



         <div role="tabpanel" class="tab-pane fade in" id="rulesPan">
            <div class="row">
				<iframe src="http://chronopia.myddns.com:8080/armylist/rules/" width=100% height=500></iframe>
            </div>
        </div>
</div>
</div>

</div>
</div>